<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title th:text="${title}">About</title>
</head>
<body>

	<section>
		<div class="container">
			<div class="card">
				<div class="card-body text-center">
				<img class="text-center myProfile"
							style="width: 120px; height: 120px;"
							th:src="@{/image/contact.png}" alt="profilephoto" />
							<br>
							<h2><i>Start Adding Contact !!</i></h2>
							<a th:href="@{/user/addContact}"><button class="btn btn-primary">Add New Contact</button></a>
				</div>
			</div>
		</div>
	</section>

</body>
</html>