<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
</head>
<body>

<section class="banner d-flex justify-content-center align-items-center text-dark">
	<div class="text-center">
		<h1 style="color: white">Smart Contact Manager</h1>
		<p style="color: white">Smart collecting your contact in very smarter way. We provide very efficient and smarter way of handling contacts.</p>
		<a th:href="@{/signin}"><button class="btn btn-primary">Get Started</button></a>
	</div>
</section>

</body>
</html>